# Eclipse shit
RemoteSystemsTempFiles/
Servers/
DLBPlus/build/
DLBPlus/.settings/
DLBPlus/.classpath
DLBPlus/.project
.metadata/
DLBPlus/.idea
DLBPlus/out/
DLBPlus/DLBPlus.iml
DLBPlus/WebContent/WEB-INF/lib/postgresql-9.4.1211.jre6.jar